.center{text-align: center;}
.red{color: red;}
.bold{font-weight: bold;}
.green{color: green;}
.italic{font-style: italic;}
.fontsize{font-size: 40px;}
.font{font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}